<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Profile</title>
  <link rel="stylesheet" href="../static/style_profile_page.css" />
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 profile-container" id="profile-container">
      <p>Loading profile...</p>
    </div>
  </div>
</div>

<script src="../static/script_profile_page.js"></script>

</body>
</html>